@model IEnumerable<MyBlog.Domain.Models.Post>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Post</a>
</p>

<div class="container my-5">
    <h2>For you</h2>

    @foreach (var item in Model)
    {
        <a asp-action="Details" asp-route-id="@item.Id" class="mb-4 article d-flex" style="color: inherit; text-decoration: none">
            <div class="flex-grow-1">
                <div class="article-title">@item.Title</div>
                <div class="article-meta">@item.Created</div>
                <p>@item.Subtitle</p>
            </div>
            <img class="ml-3" src="@(!string.IsNullOrEmpty(item.ImagePreview) ? item.ImagePreview : "/uploads/blank-image.jpg")" alt="Image preview" />
        </a>
    }
</div>